{% load tailwind_tags %}
{% load static %}
<footer>
    <div class="bg-[#F8FAFB] pt-[95px] pb-[46px] dark:bg-[#15182A]">
        <div class="container max-w-[1390px]">
            <div class="-mx-4 flex flex-wrap">
                <div class="w-full px-4 lg:w-4/12 xl:w-5/12">
                    <div class="wow fadeInUp mb-11 max-w-[320px]" data-wow-delay=".2s">
                        <a href="index.html" class="mb-8 inline-block">
                            <img src="{% static 'images/logo.png' %}" alt="logo" class="block max-w-full dark:hidden" />
                            <img src="{% static 'images/logo2.png' %}" alt="logo"
                                class="hidden max-w-full dark:block" />
                        </a>
                        <p class="text-base text-body">
                            Providing a solution to the problem of skin cancer detection using machine learning.
                        </p>
                    </div>
                </div>
                <div class="w-full px-4 lg:w-8/12 xl:w-7/12">
                    <div class="-mx-4 flex flex-wrap">
                        <div class="w-full px-4 sm:w-1/2 md:w-2/12 lg:w-2/12">
                            <div class="wow fadeInUp mb-11" data-wow-delay=".25s">
                                <h3 class="mb-8 text-[22px] font-medium text-black dark:text-white">
                                    Home
                                </h3>
                                <ul class="space-y-[10px]">
                                    <li>
                                        <a href="javascript:void(0)"
                                            class="inline-block text-base text-body hover:text-primary">
                                            Mobile App
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)"
                                            class="inline-block text-base text-body hover:text-primary">
                                            Technology
                                        </a>
                                    </li>

                                    <li>
                                        <a href="javascript:void(0)"
                                            class="inline-block text-base text-body hover:text-primary">
                                            Web App
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="w-full px-4 sm:w-1/2 md:w-3/12 lg:w-3/12">
                            <div class="wow fadeInUp mb-11" data-wow-delay=".3s">
                                <h3 class="mb-8 text-[22px] font-medium text-black dark:text-white">
                                    About Us
                                </h3>
                                <ul class="space-y-[10px]">
                                    <li>
                                        <a href="javascript:void(0)"
                                            class="inline-block text-base text-body hover:text-primary">
                                            Profile
                                        </a>
                                    </li>

                                    <li>
                                        <a href="javascript:void(0)"
                                            class="inline-block text-base text-body hover:text-primary">
                                            Health Care
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)"
                                            class="inline-block text-base text-body hover:text-primary">
                                            Blogs
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="w-full px-4 sm:w-1/2 md:w-3/12 lg:w-3/12">
                            <div class="wow fadeInUp mb-11" data-wow-delay=".35s">
                                <h3 class="mb-8 text-[22px] font-medium text-black dark:text-white">
                                    Resources
                                </h3>
                                <ul class="space-y-[10px]">
                                    <li>
                                        <a href="javascript:void(0)"
                                            class="inline-block text-base text-body hover:text-primary">
                                            Tailwind
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)"
                                            class="inline-block text-base text-body hover:text-primary">
                                            Django
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)"
                                            class="inline-block text-base text-body hover:text-primary">
                                            Flutter
                                        </a>
                                    </li>

                                </ul>
                            </div>
                        </div>
                        <div class="w-full px-4 sm:w-1/2 md:w-4/12 lg:w-4/12">
                            <div class="wow fadeInUp mb-11" data-wow-delay=".4s">
                                <h3 class="mb-8 text-[22px] font-medium text-black dark:text-white">
                                    Contact Us
                                </h3>
                                <ul class="space-y-[10px]">
                                    <li>
                                        <a href="javascript:void(0)"
                                            class="inline-block text-base text-body hover:text-primary">
                                            Location: B11, EIU
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)"
                                            class="inline-block text-base text-body hover:text-primary">
                                            phat.pham.set18@eiu.edu.vn
                                        </a>
                                    </li>

                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</footer>