{% extends 'users/base.html' %}
{% load static %}

{% block title %} Reset Password {% endblock %}
{% block content %}
<section class="pt-[150px] pb-[110px] lg:pt-[220px]">
    <div class="container overflow-hidden lg:max-w-[1250px]">
        <div class="wow fadeInUp mx-auto w-full max-w-[520px] rounded-lg bg-[#F8FAFB] py-10 px-6 shadow-card dark:bg-[#15182A] dark:shadow-card-dark sm:p-[50px]"
            data-wow-delay=".2s" style="visibility: visible; animation-delay: 0.2s;">
            <div
                class="mb-9 flex items-center space-x-3 rounded-md border border-stroke bg-white py-2 px-[10px] dark:border-stroke-dark dark:bg-dark">
                <a href="signin.html"
                    class="block w-full rounded bg-primary p-2 text-center text-base font-medium text-white hover:bg-opacity-90">
                    Log in again
                </a>
                <a href="signup.html"
                    class="block w-full rounded p-2 text-center text-base font-medium text-black hover:bg-primary hover:text-white dark:text-white">
                    Back to home
                </a>
            </div>
            <div class="text-center">
                <h3 class="mb-[10px] text-2xl font-bold text-black dark:text-white sm:text-[28px]">
                    Forgot your password?
                </h3>
                <p class="mb-11 text-base text-body">
                    Don't fret! Just type in your email and we will send you a code to reset your password!
                </p>


            </div>
            <form>
                <div class="mb-5">
                    <label for="email" class="mb-[10px] block text-sm text-black dark:text-white">
                        Your Email
                    </label>
                    <input type="email" placeholder="phat@gmail.com"
                        class="w-full rounded-md border border-stroke bg-white py-3 px-6 text-base font-medium text-body outline-none focus:border-primary focus:shadow-input dark:border-stroke-dark dark:bg-black dark:text-white dark:focus:border-primary">
                </div>

                <button type="submit"
                    class="flex w-full justify-center rounded-md bg-primary p-3 text-base font-medium text-white hover:bg-opacity-90">
                    Recover your password
                </button>
            </form>
        </div>
    </div>
</section>
{% endblock %}