{% load tailwind_tags %}
{% load socialaccount %}

<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <link rel="icon" href="./static/images/logo.jpg">
    <title>Login Page | SkinDetect.ai</title>
    {% comment %} <link rel="stylesheet" href="login.css"> {% endcomment %}
    <link rel="stylesheet" href="./static/css/login.css">
    
    {% tailwind_preload_css %}
    {% tailwind_css %}
    <link rel="stylesheet" href="./static/css/app.css">
    {% providers_media_js %}
</head>
{% block content %}

<body>
    <div class="wrapper">
        <div class="title">
            <img src="./static/images/logo.jpg" alt='logo'>
        </div>
        <form action="{% url 'login' %}" method="POST">
            <div class="text-red-600 text-sm">
                {% if error %}
                    <span>*</span>
                    {{ error }} 
                {% endif %}
            </div>
            {% csrf_token %}
            <div class="field">
                <input type="text" required name='username'>
            </div>
            <div class="field">
                <input type="password" required name='password'>
            </div>
            <div class="content">
                <div class="checkbox">
                    <input type="checkbox" id="remember-me">
                    <label for="remember-me">Remember me</label>
                </div>
                {% comment %} <a href="{% provider_login_url "google" %}">Google</a> {% endcomment %}
                <a href="{% provider_login_url "google" %}">Login with Google</a>
                <div class="pass-link">
                    <a href="#">Forgot password?</a>
                </div>
            </div>
            <div class="field">
                <input type="submit" value="Login">
            </div>
            <div class="signup-link">
                Not a member? <a href="{% url 'register' %}">Signup now</a>
            </div>
        </form>
    </div>
</body>
{% endblock %}
</html>