{% extends 'users/base.html' %}
{% load static %}
{% block title %} New Password {% endblock %}


{% block content %}
<main>
    <section class="pt-[150px] pb-[110px] lg:pt-[220px]">
        <div class="container overflow-hidden lg:max-w-[1250px]">
            <div class="wow fadeInUp mx-auto w-full max-w-[520px] rounded-lg bg-[#F8FAFB] py-10 px-6 shadow-card dark:bg-[#15182A] dark:shadow-card-dark sm:p-[50px]"
                data-wow-delay=".2s">

                <div class="text-center">
                    <h3 class="mb-[10px] text-2xl font-bold text-black dark:text-white sm:text-[28px]">
                      Password Reset Confirm
                    </h3>
                </div>

                <form method="POST">
                    {% csrf_token %}
                    {% for field in form %}
                    <div class="mb-6">
                        <label for="{{ field.id_for_label }}" class="block mb-2 text-sm font-bold text-gray-700">{{ field.label }}</label>
                        <input type="{{ field.field.widget.input_type }}" id="{{ field.id_for_label }}" name="{{ field.html_name }}"
                               class="w-full rounded-md border border-gray-300 py-2 px-3 text-sm leading-tight focus:outline-none focus:border-primary"
                               {% if field.field.required %} required {% endif %}
                               {% if field.value %} value="{{ field.value }}"{% endif %}>
                        {% if field.errors %}
                        <small class="text-red-500">{{ field.errors|striptags }}</small>
                        {% endif %}
                    </div>
                    {% endfor %}

                    <button type="submit"
                        class="flex w-full justify-center rounded-md bg-primary p-3 text-base font-medium text-white hover:bg-opacity-90">
                        Reset Password
                    </button>
                </form>
            </div>
        </div>
    </section>

</main>
</body>

</html>
{% endblock %}