{% load static %}
{% block content %}

<head>
        <link rel="stylesheet" href="./static/css/style.css">
        <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/css/bootstrap.min.css" rel="stylesheet"> -->
        <script data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
        <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/js/bootstrap.bundle.min.js"></script>
        <script type="text/javascript"></script>
        <link rel="stylesheet" href="./static/css/profile.css">
</head>

<header
        class="navbar absolute top-0 left-0 z-50 w-full border-stroke bg-white duration-300 dark:border-stroke-dark dark:bg-black">
        <div class="container relative max-w-[1400px]">
                <div class="flex items-center justify-between">
                        <div class="block py-4 lg:py-0">
                                <a href="/home" class="block max-w-[145px] sm:max-w-[180px]">
                                        <img src="{% static 'images/logo.png' %}" alt="logo"
                                                class="block dark:hidden" />
                                        <img src="{% static 'images/logo2.png' %}" alt="logo"
                                                class="hidden dark:block" />
                                </a>
                        </div>
                        <button class="navbarOpen absolute right-4 top-1/2 z-50 flex h-10 w-10 -translate-y-1/2 flex-col items-center justify-center space-y-[6px] font-bold lg:hidden"
                                aria-label="navbarOpen" name="navbarOpen">
                                <span class="block h-[2px] w-7 bg-black dark:bg-white"></span>
                                <span class="block h-[2px] w-7 bg-black dark:bg-white"></span>
                                <span class="block h-[2px] w-7 bg-black dark:bg-white"></span>
                        </button>
                        <div class="menu-wrapper relative hidden justify-between lg:flex">
                                <button class="navbarClose fixed top-10 right-10 z-[9999] flex h-10 w-10 flex-col items-center justify-center font-bold lg:hidden"
                                        name="navbarClose" aria-label="navbarClose">
                                        <span class="block h-[2px] w-7 rotate-45 bg-black dark:bg-white"></span>
                                        <span
                                                class="-mt-[2px] block h-[2px] w-7 -rotate-45 bg-black dark:bg-white"></span>
                                </button>
                                <nav
                                        class="fixed top-0 left-0 z-[999] flex h-screen w-full items-center justify-center bg-white bg-opacity-95 text-center backdrop-blur-sm dark:bg-black dark:bg-opacity-95 lg:static lg:h-auto lg:w-max lg:bg-transparent lg:backdrop-blur-none lg:dark:bg-transparent">
                                        <ul
                                                class="items-center space-y-3 lg:flex lg:space-x-8 lg:space-y-0 xl:space-x-10">
                                                <li class="menu-item">
                                                        <a href="/home"
                                                                class="menu-scroll inline-flex items-center text-base font-medium text-black hover:text-primary dark:text-white dark:hover:text-primary lg:py-7">
                                                                Home
                                                        </a>
                                                </li>

                                                <li class="menu-item">
                                                        <a href="/about"
                                                                class="menu-scroll inline-flex items-center text-base font-medium text-black hover:text-primary dark:text-white dark:hover:text-primary lg:py-7">
                                                                About
                                                        </a>
                                                </li>
                                                <li class="menu-item">
                                                        <a href="/detect"
                                                                class="menu-scroll inline-flex items-center text-base font-medium text-black hover:text-primary dark:text-white dark:hover:text-primary lg:py-7">
                                                                Detection
                                                        </a>
                                                </li>
                                                <li class="menu-item">
                                                        <a href="/mobileApp"
                                                                class="menu-scroll inline-flex items-center text-base font-medium text-black hover:text-primary dark:text-white dark:hover:text-primary lg:py-7">
                                                                Download
                                                        </a>
                                                </li>
                                                <li class="menu-item">
                                                        <a href="/contact"
                                                                class="menu-scroll inline-flex items-center text-base font-medium text-black hover:text-primary dark:text-white dark:hover:text-primary lg:py-7">
                                                                Contact
                                                        </a>
                                                </li>
                                                <li class="submenu-item menu-item group relative">
                                                        <a href="javascript:void(0)"
                                                                class="submenu-taggler inline-flex items-center text-base font-medium text-black hover:text-primary group-hover:text-primary dark:text-white dark:hover:text-primary lg:py-7">
                                                                Blogs
                                                                <span class="pl-3">
                                                                        <svg width="14" height="8" viewBox="0 0 14 8"
                                                                                class="fill-current">
                                                                                <path
                                                                                        d="M6.54564 5.09128L11.6369 0L13.0913 1.45436L6.54564 8L0 1.45436L1.45436 0L6.54564 5.09128Z" />
                                                                        </svg>
                                                                </span>
                                                        </a>
                                                        <ul
                                                                class="submenu hidden space-y-5 pt-5 duration-300 lg:invisible lg:absolute lg:top-[120%] lg:block lg:w-[250px] lg:rounded-lg lg:bg-white lg:px-8 lg:pb-5 lg:text-left lg:opacity-0 lg:shadow-card lg:group-hover:visible lg:group-hover:top-full lg:group-hover:opacity-100 dark:lg:border-transparent dark:lg:bg-[#15182A] lg:dark:shadow-card-dark">
                                                                <li>
                                                                        <a href="/blog1"
                                                                                class="font-heading inline-flex items-center justify-center text-center text-base text-black hover:text-primary dark:text-white dark:hover:text-primary">
                                                                                Skin Cancer Information
                                                                        </a>
                                                                </li>
                                                                <li>
                                                                        <a href="/blog2"
                                                                                class="font-heading inline-flex items-center justify-center text-center text-base text-black hover:text-primary dark:text-white dark:hover:text-primary">
                                                                                Latest News
                                                                        </a>
                                                                </li>


                                                        </ul>
                                                </li>
                                        </ul>
                                </nav>
                        </div>
                        <div class="mr-[60px] flex items-center justify-end lg:mr-0">

                                <!-- <a href="{% url 'login' %}"
                        class="hidden py-[10px] px-6 text-base font-medium text-black hover:text-primary dark:text-white dark:hover:text-primary sm:inline-block">
                        Sign In
                    </a>
                    <a href="{% url 'register' %}"
                        class="hidden rounded-md bg-primary py-[10px] px-[30px] text-base font-medium text-white hover:bg-opacity-90 sm:inline-block">
                        Sign Up
                    </a> -->

                                <a href="{% url 'profilePage' %}"
                                        class="hidden py-[10px] px-6 text-base font-medium text-black hover:text-primary dark:text-white dark:hover:text-primary sm:inline-block">
                                        <img class="w-10 h-10 rounded-full" src="{% static 'images/clpBot.jpg'%}"
                                                alt="Rounded avatar">
                                </a>

                                <a href="{% url 'logout' %}"
                                        class="hidden rounded-md bg-primary py-[10px] px-[30px] text-base font-medium text-white hover:bg-opacity-90 sm:inline-block">
                                        Log out
                                </a>
                        </div>
                </div>
        </div>
</header>

<body>
        <div class="container light-style flex-grow-1 container-p-y">

                <h6 class="breadcrumbs font-weight-bold py-3 mb-4">
                        <span><span><a href="{% url 'home' %}">Home</a></span> › <span class="breadcrumb_last"
                                        aria-current="page">Account Setting</span></span>
                </h6>

                <div class="card overflow-hidden">
                        <div class="row no-gutters row-bordered row-border-light">
                                <div class="col-md-3 pt-0">
                                        <div class="list-group list-group-flush account-settings-links">
                                                <a class="list-group-item list-group-item-action active"
                                                        data-toggle="list" href="#account-general">General</a>
                                                <a class="list-group-item list-group-item-action" data-toggle="list"
                                                        href="#account-change-password">Change password</a>
                                                <a class="list-group-item list-group-item-action" data-toggle="list"
                                                        href="#account-info">Information</a>
                                        </div>
                                </div>
                                <div class="col-md-9">
                                        <div class="tab-content">
                                                <div class="tab-pane fade active show" id="account-general">
                                                        <div class="card-body media align-items-center">
                                                                <img width="100px" src="{% static 'images/clpBot.jpg'%}"
                                                                        alt class="d-block ui-w-80">
                                                                <div class="media-body ml-4">
                                                                        <label class="btn btn-outline-primary">
                                                                                Upload new photo
                                                                                <input type="file"
                                                                                        class="account-settings-fileinput">
                                                                        </label> &nbsp;
                                                                        <button type="button"
                                                                                class="btn btn-default md-btn-flat">Reset</button>
                                                                        <div class="text-light small mt-1">Allowed JPG,
                                                                                GIF or PNG. Max size of 800K</div>
                                                                </div>
                                                        </div>
                                                        <hr class="border-light m-0">
                                                        <div class="card-body">
                                                                <div class="form-row">
                                                                        <div class="col-md-4 mb-3">
                                                                                <label for="validationServer01">First
                                                                                        name</label>
                                                                                <input type="text"
                                                                                        class="form-control is-valid"
                                                                                        id="validationServer01"
                                                                                        placeholder="First name"
                                                                                        value="" required>
                                                                                <div class="valid-feedback">
                                                                                        Looks good!
                                                                                </div>
                                                                        </div>
                                                                        <div class="col-md-4 mb-3">
                                                                                <label for="validationServer02">Last
                                                                                        name</label>
                                                                                <input type="text"
                                                                                        class="form-control is-valid"
                                                                                        id="validationServer02"
                                                                                        placeholder="Last name" value=""
                                                                                        required>
                                                                                <div class="valid-feedback">
                                                                                        Looks good!
                                                                                </div>
                                                                        </div>
                                                                        <div class="col-md-4 mb-3">
                                                                                <label
                                                                                        for="validationServerUsername">Username</label>
                                                                                <div class="input-group">
                                                                                        <div
                                                                                                class="input-group-prepend">
                                                                                                <span class="input-group-text"
                                                                                                        id="inputGroupPrepend3">@</span>
                                                                                        </div>
                                                                                        <input type="text"
                                                                                                class="form-control is-invalid"
                                                                                                id="validationServerUsername"
                                                                                                placeholder="Username"
                                                                                                aria-describedby="inputGroupPrepend3"
                                                                                                required>
                                                                                        <div class="invalid-feedback">
                                                                                                Please choose a
                                                                                                username.
                                                                                        </div>
                                                                                </div>
                                                                        </div>
                                                                </div>
                                                                <div class="form-group">
                                                                        <label class="form-label">E-mail</label>
                                                                        <input type="text" class="form-control mb-1"
                                                                                value="phat@mail.com">
                                                                        <!-- <div class="alert alert-warning mt-3">
                                                                                Your email is not confirmed. Please
                                                                                check your inbox.<br>
                                                                                <a href="javascript:void(0)">Resend
                                                                                        confirmation</a>
                                                                        </div> -->
                                                                </div>

                                                        </div>
                                                </div>
                                                <div class="tab-pane fade" id="account-change-password">
                                                        <div class="card-body pb-2">
                                                                <div class="form-group">
                                                                        <label class="form-label">Current
                                                                                password</label>
                                                                        <input type="password" class="form-control">
                                                                </div>
                                                                <div class="form-group">
                                                                        <label class="form-label">New password</label>
                                                                        <input type="password" class="form-control">
                                                                </div>
                                                                <div class="form-group">
                                                                        <label class="form-label">Repeat new
                                                                                password</label>
                                                                        <input type="password" class="form-control">
                                                                </div>
                                                        </div>
                                                </div>
                                                <div class="tab-pane fade" id="account-info">
                                                        <div class="card-body pb-2">
                                                                <div class="form-group">
                                                                        <label class="form-label">Gender</label>
                                                                        <div>
                                                                                <div
                                                                                        class="custom-control custom-radio custom-control-inline">
                                                                                        <input type="radio"
                                                                                                id="customRadioInline1"
                                                                                                name="customRadioInline1"
                                                                                                class="custom-control-input">
                                                                                        <label class="custom-control-label"
                                                                                                for="customRadioInline1">Male</label>
                                                                                </div>
                                                                                <div
                                                                                        class="custom-control custom-radio custom-control-inline">
                                                                                        <input type="radio"
                                                                                                id="customRadioInline2"
                                                                                                name="customRadioInline1"
                                                                                                class="custom-control-input">
                                                                                        <label class="custom-control-label"
                                                                                                for="customRadioInline2">Female</label>
                                                                                </div>
                                                                        </div>
                                                                </div>

                                                                <form action="">
                                                                        <label for="birthday">Date of Birth:</label>
                                                                        <input type="date">
                                                                </form>
                                                                <div class="form-group">
                                                                        <label class="form-label">Address</label>
                                                                        <input type="text" class="form-control mb-1"
                                                                                value="">
                                                                </div>


                                                                <div class="form-group">
                                                                        <label class="form-label">Phone</label>
                                                                        <input type="text" class="form-control"
                                                                                value="(+84) ">
                                                                </div>


                                                        </div>
                                                </div>
                                        </div>
                                </div>
                        </div>

                </div>
                <div class="text-right mt-3">
                        <button type="button" class="btn btn-primary">Save changes</button>&nbsp;
                        <button type="button" class="btn btn-default">Cancel</button>
                </div>
</body>
{% endblock %}

<!-- {% block footer %}
{# Empty block to hide the footer in profilePage.html #}
{% endblock %} -->