<!DOCTYPE html>
{% load socialaccount %}
{% load tailwind_tags %}
<html lang="en" dir="ltr">

<head>
    <meta charset="UTF-8">
    <link rel="icon" href="./static/images/logo.jpg">
    <title>
        Registration Page | SkinDetect.ai
    </title>    
    {% comment %} <link rel="stylesheet" href="register.css"> {% endcomment %}
    <link rel="stylesheet" href="./static/css/register.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% tailwind_preload_css %}
    {% tailwind_css %}
    <link rel="stylesheet" href="./static/css/app.css">
</head>
{% block content %}
<main>
    <section class="pt-[150px] pb-[110px] lg:pt-[220px]">
        <div class="container overflow-hidden lg:max-w-[1250px]">
            <div class="wow fadeInUp mx-auto w-full max-w-[520px] rounded-lg bg-[#F8FAFB] py-10 px-6 shadow-card dark:bg-[#15182A] dark:shadow-card-dark sm:p-[50px]"
                data-wow-delay=".2s">

                <div class="text-center">
                    <h3 class="mb-[10px] text-2xl font-bold text-black dark:text-white sm:text-[28px]">
                        Create your account
                    </h3>
                    <p class="mb-11 text-base text-body">
                        It's totally free and super easy
                    </p>
                    <button
                        class="mb-6 flex w-full items-center justify-center rounded-md border border-stroke bg-white p-3 text-base font-medium text-body hover:text-primary dark:border-stroke-dark dark:bg-dark">
                        <span class="mr-3">
                            <svg width="20" height="20" viewBox="0 0 20 20" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <g clip-path="url(#clip0_72_334)">
                                    <path
                                        d="M20 10.2216C20.0121 9.53416 19.9397 8.84776 19.7844 8.17725H10.2041V11.8883H15.8276C15.7211 12.539 15.4814 13.1618 15.1229 13.7194C14.7644 14.2769 14.2945 14.7577 13.7415 15.1327L13.7219 15.257L16.7512 17.5567L16.9609 17.5772C18.8883 15.8328 19.9996 13.266 19.9996 10.2216"
                                        fill="#4285F4" />
                                    <path
                                        d="M10.204 19.9998C12.959 19.9998 15.272 19.1109 16.9615 17.5775L13.7414 15.133C12.8798 15.722 11.7234 16.1332 10.204 16.1332C8.91366 16.1258 7.65844 15.7203 6.61645 14.9744C5.57445 14.2285 4.7986 13.1799 4.39897 11.9775L4.27938 11.9875L1.12955 14.3764L1.08838 14.4886C1.93671 16.1455 3.23861 17.5384 4.84851 18.5117C6.4584 19.485 8.31283 20.0002 10.2044 19.9998"
                                        fill="#34A853" />
                                    <path
                                        d="M4.39899 11.9777C4.1758 11.3411 4.06063 10.673 4.05807 9.99996C4.06218 9.32799 4.1731 8.66075 4.38684 8.02225L4.38115 7.88968L1.19269 5.4624L1.0884 5.51101C0.372763 6.90343 0 8.4408 0 9.99987C0 11.5589 0.372763 13.0963 1.0884 14.4887L4.39899 11.9777Z"
                                        fill="#FBBC05" />
                                    <path
                                        d="M10.2039 3.86687C11.6661 3.84462 13.0802 4.37827 14.1495 5.35583L17.0294 2.60021C15.1823 0.902092 12.7364 -0.0296414 10.2039 0.000207357C8.31236 -0.000233694 6.45795 0.514977 4.84805 1.48823C3.23816 2.46148 1.93625 3.85441 1.08789 5.51125L4.3875 8.02249C4.79107 6.8203 5.5695 5.77255 6.61303 5.02699C7.65655 4.28143 8.91255 3.87565 10.2039 3.86687Z"
                                        fill="#EB4335" />
                                </g>
                                <defs>
                                    <clipPath id="clip0_72_334">
                                        <rect width="20" height="20" fill="white" />
                                    </clipPath>
                                </defs>
                            </svg>
                        </span>
                        Sign up with Google
                    </button>
                    <div class="relative z-10 mb-[30px] flex items-center">
                        <span class="hidden h-[1px] w-full max-w-[70px] bg-stroke dark:bg-stroke-dark sm:block"></span>
                        <p class="w-full px-5 text-base text-body">
                            Or, sign up with your email
                        </p>
                        <span class="hidden h-[1px] w-full max-w-[70px] bg-stroke dark:bg-stroke-dark sm:block"></span>
                    </div>
                </div>
                <form>
                    <div class="mb-5">
                        <input type="text" placeholder="Enter User name"
                            class="w-full rounded-md border border-stroke bg-white py-3 px-6 text-base font-medium text-body outline-none focus:border-primary focus:shadow-input dark:border-stroke-dark dark:bg-black dark:text-white dark:focus:border-primary" />
                    </div>
                    <div class="mb-5">
                        <input type="email" placeholder="Enter your email"
                            class="w-full rounded-md border border-stroke bg-white py-3 px-6 text-base font-medium text-body outline-none focus:border-primary focus:shadow-input dark:border-stroke-dark dark:bg-black dark:text-white dark:focus:border-primary" />
                    </div>
                    <div class="mb-6">
                        <input type="password" placeholder="Enter your password"
                            class="w-full rounded-md border border-stroke bg-white py-3 px-6 text-base font-medium text-body outline-none focus:border-primary focus:shadow-input dark:border-stroke-dark dark:bg-black dark:text-white dark:focus:border-primary" />
                    </div>
                    <div class="mb-6">
                        <input type="password" placeholder="Confirm your password"
                            class="w-full rounded-md border border-stroke bg-white py-3 px-6 text-base font-medium text-body outline-none focus:border-primary focus:shadow-input dark:border-stroke-dark dark:bg-black dark:text-white dark:focus:border-primary" />
                    </div>
                    <div class="mb-[30px]">
                        <label for="privacy-policy" class="flex cursor-pointer select-none text-base text-body">
                            <input type="checkbox" name="privacy-policy" id="privacy-policy"
                                class="keep-signed sr-only" />
                            <span
                                class="box mr-[10px] mt-[4px] flex h-[22px] w-full max-w-[22px] items-center justify-center rounded-sm border-[.7px] border-stroke bg-white dark:border-stroke-dark dark:bg-black">
                                <svg width="16" height="16" viewBox="0 0 16 16" fill="none"
                                    xmlns="http://www.w3.org/2000/svg" class="icon hidden">
                                    <g clip-path="url(#clip0_73_381)">
                                        <path
                                            d="M6.66649 10.1148L12.7945 3.98608L13.7378 4.92875L6.66649 12.0001L2.42383 7.75742L3.36649 6.81475L6.66649 10.1148Z"
                                            fill="white" />
                                    </g>
                                    <defs>
                                        <clipPath id="clip0_73_381">
                                            <rect width="16" height="16" fill="white" />
                                        </clipPath>
                                    </defs>
                                </svg>
                            </span>
                            <p>
                                By creating account means you agree to the
                                <a href="javascript:void(0)" target="_blank" rel="noopener noreferrer"
                                    class="text-primary hover:underline">
                                    Terms and Conditions
                                </a>
                                , and our
                                <a href="javascript:void(0)" target="_blank" rel="noopener noreferrer"
                                    class="text-primary hover:underline">
                                    Privacy Policy
                                </a>
                            </p>
                        </label>
                    </div>
                    <button type="submit"
                        class="flex w-full justify-center rounded-md bg-primary p-3 text-base font-medium text-white hover:bg-opacity-90">
                        Sign Up
                    </button>
                </form>
            </div>
            <div>
                <a href="{% provider_login_url "google" %}">Login with Google</a>
            </div>
        </form>
    </div>
{% endblock %}
</body>

</html>
{% endblock %}